<div class="container-fluid">
    <div class="row mt-2">
      <div class="col-6">
        <h1 class="page-heading">Page Header Title</h1>
      </div>
      <div class="col-6 text-right">
        <button type="button" class="btn btn-primary btn-sm">Button 1</button>
      </div>
    </div>
    <div class="divider"></div>
  </div>

  <div class="content mt-2">
    <div class="container-fluid">
      <div class="row">
        <div class="col-4">
          <div class="info-box">
            <span class="info-box-icon"><i class="fa fa-bookmark danger"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Bookmarks</span>
              <span class="info-box-number">41,410</span>

              <div class="progress">
                <div class="progress-bar" style="width: 70%"></div>
              </div>
              <span class="progress-description">
                70% Increase in 30 Days
              </span>
            </div>
            <!-- /.info-box-content -->
          </div>
        </div>
       
      </div>
    </div>
  </div>